@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1f1f1f;
  background-color: #cfffd0;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  padding: 2rem;
  text-align: center;
}
