:root { 
    --color-1: #000505; /* Vermelho */
    --color-2: #3b3355; /* Vermelho */
    --color-3: #5d5d81; /* Vermelho */
    --color-4: #bfcde0; /* Vermelho */
    --color-5: #ebebeb; /* Vermelho */
}
